@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: pink;">Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Mã Phim</th>
            <th>Tên Phim</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaPhim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenPhim)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MaPhim">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.MaPhim">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.MaPhim">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>

